html,body{
    margin: 0px;
    background-color: rgba(194, 194, 194, 0.089);
    font-family: 'Gantari', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card   {
    border-style: solid;
    border: none;
    border-radius: 12px;
    border-color: rgba(133, 133, 133, 0.3);
    background-color: rgb(255, 255, 255);
    min-width: 30%;
    min-height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    box-shadow: 7px 7px 5px rgba(63, 63, 63, 0.199);
}

input {
    border: none;
    margin: 5%;
    
}

input::placeholder {
    color: rgba(133, 133, 133, 0.644);
    text-decoration: underline;
}

.no-outline:focus {
    outline: none;
}

button {
    background-color: rgb(25, 133, 255);
    color: whitesmoke;
    border-radius: 24px;
    border: none;
    width: 20vw;
    height: 5vh;
    box-shadow: 7px 7px 5px rgba(63, 63, 63, 0.199);
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(1);
}